* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f475;
    background-image: url('../images/background-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.registration-container,
.login-container {
    width: 350px;
    background-color: #ffffffc9;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    margin-top: 15px;
    background-color: #ff5733;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff1f00;
}

p {
    font-size: 0.9rem;
    margin-top: 20px;
}

a {
    color: #ff5733;
    text-decoration: none;
    font-weight: bold;
}